/** CSS is organized as follows:
 * Global
 * Header & Navigation
 * Content & Media
 * Footer
 All CSS properties are listed alphabetically.
 **/

/* Global */
a {
  color: seashell;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  opacity: 0.9;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

/* Header & Navigation */
header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Content & Media */
div {
  display: block;
}

.featured-tea {
  justify-content: center;
  }

.location {
  background-color: black;
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  margin: 5px 20px;
  padding: 10px;
  opacity: 1;
  width: 1100px;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  justify-content: center;
  padding-top: 70px;
}

.locations-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 5px;
  width: 1100px;
}

.locations h2 {
  margin: 0px;
  padding: 10px;
}

.main {
  margin: auto;
  padding-top: 69px;
  width: 1200px;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 1200px;
}

.mission-details {
  background-color: black;
}

.tea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-item {
  margin: 0px 15px;
}

.tea-item img {
  height: 200px;
  width: 300px;
}

/* Footer */
.copyright {
  margin-top: 20px;
  text-align: left;
}

footer {
  height: 200px;
}
